@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap');


.container {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 40px;
}

.header {

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
